/* 
====================================================================
|                 SYSTEM CONFIGURATION
====================================================================
*/
includeConfig 'conf/base.config' 
includeConfig 'conf/modules.config' 


/* 
====================================================================
|                 WORKFLOW INPUT PARAMETERS
====================================================================
*/
params {
  inputFile = "${baseDir}/testdata/protein.fasta"
  resultsDir = "./results/${ (new Date()).format('yyyy.MM.dd-HH.mm.ss') }-quick-fold"

  // tools options
  esmfold.args = "--num-recycles 4 --chunk-size 16"
  openmm.pdb.relax.args = "--fix-pdb --max-iterations 500"
}

