process {
    withName: 'ESMFOLD.*' {
        container = 'docker://ghcr.io/stracquadaniolab/quick-fold-nf-esmfold:latest'
    }

    withName: 'ESMIF.*' {
        container = 'docker://ghcr.io/stracquadaniolab/quick-fold-nf-esmif:latest'
    }

    withName: 'OPENMM.*' {
        container = 'docker://ghcr.io/stracquadaniolab/quick-fold-nf-openmm:latest'
    }
}